RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]


# RewriteRule ^plezi/index.php$ /accueil [L,R=301]
RewriteRule ^Accueil$   /index.php [L]
RewriteRule ^Menus$   /admin/Panier/produits.php [L]



