* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fffaf1;
}
a.link {
  margin: 20px;
  text-align: center;
  width: fit-content;
  position: relative;
  text-decoration: 0;
  background-color: #006474;
  color: #fcb045;
  padding: 15px 25px;
  border-radius: 6px;
  font-size: 1.5rem;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.link:hover {
  background-color: #fcb045;
  color: #006474;
}

span.total {
  font-style: italic;
  font-size: 1.5rem;
  color: #999;
}

/* container Product */

.container_products {
  display: flex;
  position: relative;
  padding-top: 200px;
}

.products_list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product {
    /* position: relative; */
  background-color: #fff;
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px 50% 8px 20%;
  overflow: hidden;
  transition: 0.5s;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 8px;
}
.product:hover {
  transform: scale(1.02);
}
.image_product {
    /* position: relative; */
    overflow: hidden;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_product img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  padding: 20px;
}
.content {
  margin-top: 16px;
  margin-bottom: 32px;
  height: fit-content;
  text-align: center;
}

.content h4 {
  text-transform: uppercase;
}

.descriptif {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    /* background-color: #006474; */
    color: #006474;
    border-radius: 6px;
    text-align: center;
    /* height: 0; */
    overflow: hidden;
    bottom: 150px;
    transition: height 0.3s ease-in-out;
    /* opacity: 50%; */
}

.product:hover {
    background-color: #006474;
    color: #fcb045;
}
.content:hover .descriptif {
    height: 100px;
    display: block;
    color: #fffaf1;
    transition: all 0.5s ease-in-out;
    
}
.content:hover .price {

    color: #fcb045;

    
}

.product:hover .image_product {
    opacity:0.3;
    transition: all 0.5s ease-in-out;
}

.price {
  margin: 15px 0;
  font-weight: 400;
  color: #006474;
}
.id_product {

  text-align: center;
  text-decoration: 0;
  background-color: #006474;
  letter-spacing: 1px;
  color: #fff;
  padding: 10px 15px ;
  border-radius:6px 20px 20px 130px;
  transition: all 0.5s ease-in-out;
}


.id_product:hover {
  background-color: #fcb045;
  color: #006474;
}

.categorie_title {
  width: 100%;
  text-align: center;
  margin: 0 10px 20px 0px;
  padding: 10px;
  background-color: #fcb045;
  color: #006474;
  border-radius: 3px;
}

/* SideBar */

.sideBar {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: white;
}

.sideBar_title {
  width: 100%;
  text-align: center;
  margin: 0 auto 20px auto;
  padding: 10px;
  background-color: #fcb045;
  color: #006474;
  border-radius: 3px;
}

.sideBar_product {
  padding: 10px;
}

.sideBar_product td {
  padding: 20px;
  text-align: start;
}

td form {
  display: flex;
  flex-wrap: nowrap;
}
td form input {
  width: 40px;
  margin: 0 20px;
}

td button {
 cursor: pointer;
}
td .sup {
    margin: 0 auto;
}

.img_sidebar img{
  display: none;
  width: 100px;
  height: 100px;
}

/*Panier CSS*/
.panier {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.panier img {
  width: 150px;
  padding: 8px 0;
}

.panier .poubelle {
  width: 40px;
}
.panier section {
  width: 70%;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
}
table {
  border-collapse: collapse;
  width: 100%;
  letter-spacing: 1px;
  font-size: 13px;
}
th {
  padding: 10px 0;
  font-weight: 400;
}
td {
  border-top: 0.5px solid #999;
  text-align: center;
  color: #006474;
}
tr {
  border-bottom: 0.5px solid #999;
}

.total {
  border: 0;
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 2rem;
  font-weight: 500;
  color: #006474;
  padding: 10px;
  margin-top: 16px;
  font-family: "Varela Round", sans-serif;
}

.commande {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

.btn_basket {
  background-color: #006474;
  padding: 8px;
  width: 100%;
  text-align: center;
  color: #fcb045;
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none; 
}

.btn_remove_all {
  background-color: #ff0000;
  color: #fffaf1;
}

.btn_basket:hover {
  background-color: #fcb045;
  color: #006474;
  transition: all 500ms ease-in-out;
}

/* Media queries */

@media only screen and (max-width: 768px) {
  .link {
    font-size: 1.1rem;
    padding: 10px;
  }

  .total th {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 784px) {
  .sideBar {
    display: none;
  }
  .img_sidebar img{
    display: block;
  }

  section.btn_small_screen {
    display: block;
  }
}

@media only screen and (max-width: 630px) {
  tr {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #ccc;
  }
  th {
    display: none;
    padding: 10px;
  }
  td {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 10px;
  }
  .sideBar_product {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 480px) {
  .commande {
    flex-direction: column;
  }
  a.link {
    width: 100%;
  }
}

/* paiement  */

/* Styles pour le conteneur de l'élément de carte */
.card-container {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .card-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .card-container input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .card-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .card-container button:hover {
    background-color: #0056b3;
  }
  
  .card-container .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  

.payment-container {

    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-element label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.card-element input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    color: #555;
}

.card-element input[type="text"]::placeholder {
    color: #ccc;
}

.card-element input[type="text"]:invalid {
    border-color: #ff0000;
}

.card-element input[type="text"]:invalid + span::before {
    content: "❌ ";
    color: #ff0000;
}

.btn-pay {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-pay:hover {
    background-color: #0056b3;
}

/* bouton panier petit écran  */

.btn_small_screen {
  position: fixed;
  /* padding: 10px; */
  width: 100%;
  margin: 0;
  /* right: 0px; */
  bottom: 00px;
  display: none;
}

.btn_small_screen a {
  display: block;
  background-color: #333;
  color: #fffaf1;
  width: 100%;
  margin: 0;
  margin: 0;
  border-radius: 0;
  text-align: center;
}

.btn_small_screen a:hover{
  background-color: #555;
  color: #fffaf1;
}

.display_none {
  display: none;
}

.panier_small_screen{
  padding-top: 200px;
}

.prix_panier {
  color: #999;
  font-style: italic;
  margin-left: 50px;
}

