Options -Indexes

# Active le module de réécriture d'URL
RewriteEngine On

# Si une ressource n'est pas trouvée, redirige vers index.php
ErrorDocument 403 /index.php

# Si vous souhaitez également rediriger les erreurs 404 (Page non trouvée)
ErrorDocument 404 /index.php
